@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-med: #75a74c;   
  --secondary-med: #1e4a6e; 
  --accent-med: #10b981; 
}

@layer utilities {
  
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
  }
}

.btn-primary {
  background-color: var(--primary-med);
  border-radius: 8px;
  font-weight: 700;
  letter-spacing: 0.5px;
}